{% extends "template.html" %}

{% block title %}
    Добавление
{% endblock %}

{% block body %}
<div class="card"
     style="margin: 40px;background-color: #32423d;color: var(--bs-gray-200);border-radius: 30px;">
    <div class="card-body" style="width: 100%">
        <h2 class="card-title">Экскурсия:</h2>
        <br>
        <form action="/add_excursion" method="post" enctype="multipart/form-data">
            <input name="_id" type="text" {% if excursion is not none %}value="{{ excursion['_id'] }}"{% endif %}
                   hidden>

            <input class="form-control" type="text" name="exhibition_name" placeholder="Название экскурсии"
                   autocomplete="on" required
                   style="margin-bottom: 16px;font-weight: bold;font-size: 20px;border-width: 2px;border-radius: 17px;"
                   {% if excursion is not none %}value="{{ excursion['name'] }}"{% endif %}>

            <textarea class="form-control" name="about" placeholder="Об экскурсии" autocomplete="on" required
                      style="    margin-bottom: 16px;font-weight: bold;font-size: 20px;border-width: 2px;border-radius: 17px;height: 165px;max-height: 500px;min-height: 300px;">{% if excursion is not none %}
                {{ excursion['about'] }}{% endif %}</textarea>

            <label>
                Выберите фотографии:
                <input class="form-control" type="file" name="imgs" accept="image/jpeg" multiple required
                       style="margin-bottom: 16px;font-weight: bold;font-size: 20px;border-width: 2px;border-radius: 17px;">
            </label>

            <br>

            <div class="rating">
                <label>
                    <input type="radio" name="stars" value="1"/>
                    <span class="icon">★</span>
                </label>
                <label>
                    <input type="radio" name="stars" value="2"/>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </label>
                <label>
                    <input type="radio" name="stars" value="3"/>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </label>
                <label>
                    <input type="radio" name="stars" value="4"/>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </label>
                <label>
                    <input type="radio" name="stars" value="5"/>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </label>
            </div>

            <input class="btn btn-success" type="submit" value="Добавить новую экскурсию"
                   style="font-weight: bold;font-size: 20px;background: var(--bs-gray-200);color: var(--bs-gray-700);width: 100%;border-radius: 17px;"/>
        </form>
    </div>
</div>
{% endblock %}