{% extends "template.html" %}

{% block title %}
    Экскурсии
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/Animation-Cards-1.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/Animation-Cards.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/fonts/ionicons.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/anoth_page.css') }}? version = {{ ver }}">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/excursions.css') }}? version = {{ ver }}">
{% endblock %}

{% block body %}
    <div class="screen">
        <div class="screen-dialog">
            <div class="screenwrapper">
                <div class="screen_title">Вам помочь создать экскурсию?</div>
                <div class="screen_content">
                    <div class="left_content">
                        <p>Вы можете выбрать картины самостоятельно, если уверены в своих силах.</p></div>
                    <div class="rigth_content">
                        <p>Вы можете выбрать автоматическое создание экскурсии, если не знаете, с чего начать.</p></div>
                </div>
                <div class="screen_button">
                    <div class="left_button">
                        <a href="/filter">
                            <button>Вручную</button>
                        </a></div>
                    <div class="right_button">
                        <button disabled="disabled">ne trogat'</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a id="excursions_count" hidden>{{ excursions_count }}</a>

    {% for block in excursions %}
        {% set block_ind = loop.index %}

        <div class="row space-rows">
            {% for excursion in block %}
                {% set excursion_ind = loop.index %}

                <form method="get" action="/excursion" name="t{{ ((block_ind - 1) * 3 + excursion_ind - 1) }}" hidden>
                    <input type="text" name="id" value="{{ excursion['_id'] }}">
                </form>

                <div class="col">
                    <div class="card cards-shadown cards-hover aos-init aos-animate" data-aos=flip-left
                         data-aos-duration="950" style="border-radius: 30px;border: none;">

                        <div class="card-header"
                             onclick="document.forms['t{{ ((block_ind - 1) * 3 + excursion_ind - 1) }}'].submit();">
                            <div class="cardheader-text">
                                {{ excursion['about'] }}
                            </div>

                            <div style="position:absolute;top: 5px;right: 5px;width: 190px; height: 190px;display: flex;margin: auto;"
                                 id="photos">
                                {% for photo in excursion['photos'] %}
                                    {% set id = (((block_ind - 1) * 3 + excursion_ind - 1) * 100 + loop.index - 1)|string %}
                                    <img src="data:image/jpeg;base64, {{ photo }}"
                                         alt="slide" id="{{ id }}"
                                         style="display: none; max-height: 100%; max-width: 100%;margin: auto; border-radius: 15px;">
                                {% endfor %}
                            </div>
                        </div>

                        <div class="card-body">
                            {% for i in range(excursion['stars']) %}
                                <span class="space"
                                      onclick="document.forms['t{{ ((block_ind - 1) * 3 + excursion_ind - 1) }}'].submit();">
                                    <img src="{{ url_for('static', filename='img/star.png') }}" alt="star"
                                         width="30px"/>
                                </span>
                            {% endfor %}

                            <p class="card-text cardbody-sub-text"
                               onclick="document.forms['t{{ ((block_ind - 1) * 3 + excursion_ind - 1) }}'].submit();">
                                {{ excursion['name'] }}
                            </p>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    {% endfor %}

    <script type="text/javascript" src="{{ url_for('static', filename='scripts/excursion.js') }}"></script>
{% endblock %}

