<!DOCTYPE html>

<head>
    <meta charset="UTF-8">

    <title>
        Что-то
    </title>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/filter.css') }}? version = {{ ver }}">
</head>
<body>
<div class="levo">
    <div class="Slovo_filter">
        ФИЛЬТРАЦИЯ
    </div>
    <div class="block">
        <div class="bl_title">
            <span class="title">Эпоха</span>
        </div>
        <div class="bl_filter">
            <div>
                <div class="choice">
                    <label sectionindex="0" itemindex="0" class="x7-a x7-a3">
                        <input type="checkbox" name="" class="x7-a2">
                        <div class="x7-a0">
                            <div class="aa1-a o2e">
                                        <span class="em4 me4 m4e em7 tsBodyL e3o eo3">
                                            <span>15 век</span>
                                        </span>
                            </div>
                        </div>
                    </label>
                </div>
                <div class="choice">
                    <label sectionindex="0" itemindex="1" class="x7-a x7-a3">
                        <input type="checkbox" name="" class="x7-a2">

                        <div class="x7-a0">
                            <div class="aa1-a o2e">
                                        <span class="em4 me4 m4e em7 tsBodyL e3o eo3">
                                            <span>16 век</span>
                                        </span>
                            </div>
                        </div>
                    </label>
                </div>
                <div class="choice">
                    <label sectionindex="0" itemindex="2" class="x7-a x7-a3">
                        <input type="checkbox" name="" class="x7-a2">

                        <div class="x7-a0">
                            <div class="aa1-a o2e">
                                        <span class="em4 me4 m4e em7 tsBodyL e3o eo3">
                                            <span>17 век</span>
                                        </span>
                            </div>
                        </div>
                    </label>
                </div>
                <div class="choice">
                    <label sectionindex="0" itemindex="3" class="x7-a x7-a3">
                        <input type="checkbox" name="" class="x7-a2">

                        <div class="x7-a0">
                            <div class="aa1-a o2e">
                                        <span class="em4 me4 m4e em7 tsBodyL e3o eo3">
                                            <span>19 век</span>
                                        </span>
                            </div>
                        </div>
                    </label>
                </div>
                <div class="choice">
                    <label sectionindex="0" itemindex="4" class="x7-a x7-a3">
                        <input type="checkbox" name="" class="x7-a2">

                        <div class="x7-a0">
                            <div class="aa1-a o2e">
                                        <span class="em4 me4 m4e em7 tsBodyL e3o eo3">
                                            <span>20 век</span>
                                        </span>
                            </div>
                        </div>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="bl_title">
            <span class="title">Эпоха</span>
        </div>
        <div class="bl_filter">
            <div>
                <div class="choice">
                    <label sectionindex="0" itemindex="0" class="x7-a x7-a3">
                        <input type="checkbox" name="" class="x7-a2">

                        <div class="x7-a0">
                            <div class="aa1-a o2e">
                                        <span class="em4 me4 m4e em7 tsBodyL e3o eo3">
                                            <span>15 век</span>
                                        </span>
                            </div>
                        </div>
                    </label>
                </div>
                <div class="choice">
                    <label sectionindex="0" itemindex="1" class="x7-a x7-a3">
                        <input type="checkbox" name="" class="x7-a2">

                        <div class="x7-a0">
                            <div class="aa1-a o2e">
                                        <span class="em4 me4 m4e em7 tsBodyL e3o eo3">
                                            <span>16 век</span>
                                        </span>
                            </div>
                        </div>
                    </label>
                </div>
                <div class="choice">
                    <label sectionindex="0" itemindex="2" class="x7-a x7-a3">
                        <input type="checkbox" name="" class="x7-a2">

                        <div class="x7-a0">
                            <div class="aa1-a o2e">
                                        <span class="em4 me4 m4e em7 tsBodyL e3o eo3">
                                            <span>17 век</span>
                                        </span>
                            </div>
                        </div>
                    </label>
                </div>
                <div class="choice">
                    <label sectionindex="0" itemindex="3" class="x7-a x7-a3">
                        <input type="checkbox" name="" class="x7-a2">

                        <div class="x7-a0">
                            <div class="aa1-a o2e">
                                        <span class="em4 me4 m4e em7 tsBodyL e3o eo3">
                                            <span>19 век</span>
                                        </span>
                            </div>
                        </div>
                    </label>
                </div>
                <div class="choice">
                    <label sectionindex="0" itemindex="4" class="x7-a x7-a3">
                        <input type="checkbox" name="" class="x7-a2">

                        <div class="x7-a0">
                            <div class="aa1-a o2e">
                                        <span class="em4 me4 m4e em7 tsBodyL e3o eo3">
                                            <span>20 век</span>
                                        </span>
                            </div>
                        </div>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="bl_title">
            <span class="title">Эпоха</span>
        </div>
        <div class="bl_filter">
            <div>
                <div class="choice">
                    <label sectionindex="0" itemindex="0" class="x7-a x7-a3">
                        <input type="checkbox" name="" class="x7-a2">

                        <div class="x7-a0">
                            <div class="aa1-a o2e">
                                        <span class="em4 me4 m4e em7 tsBodyL e3o eo3">
                                            <span>15 век</span>
                                        </span>
                            </div>
                        </div>
                    </label>
                </div>
                <div class="choice">
                    <label sectionindex="0" itemindex="1" class="x7-a x7-a3">
                        <input type="checkbox" name="" class="x7-a2">

                        <div class="x7-a0">
                            <div class="aa1-a o2e">
                                        <span class="em4 me4 m4e em7 tsBodyL e3o eo3">
                                            <span>16 век</span>
                                        </span>
                            </div>
                        </div>
                    </label>
                </div>
                <div class="choice">
                    <label sectionindex="0" itemindex="2" class="x7-a x7-a3">
                        <input type="checkbox" name="" class="x7-a2">

                        <div class="x7-a0">
                            <div class="aa1-a o2e">
                                        <span class="em4 me4 m4e em7 tsBodyL e3o eo3">
                                            <span>17 век</span>
                                        </span>
                            </div>
                        </div>
                    </label>
                </div>
                <div class="choice">
                    <label sectionindex="0" itemindex="3" class="x7-a x7-a3">
                        <input type="checkbox" name="" class="x7-a2">

                        <div class="x7-a0">
                            <div class="aa1-a o2e">
                                        <span class="em4 me4 m4e em7 tsBodyL e3o eo3">
                                            <span>19 век</span>
                                        </span>
                            </div>
                        </div>
                    </label>
                </div>
                <div class="choice">
                    <label sectionindex="0" itemindex="4" class="x7-a x7-a3">
                        <input type="checkbox" name="" class="x7-a2">

                        <div class="x7-a0">
                            <div class="aa1-a o2e">
                                        <span class="em4 me4 m4e em7 tsBodyL e3o eo3">
                                            <span>20 век</span>
                                        </span>
                            </div>
                        </div>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="bl_title">
            <span class="title">Эпоха</span>
        </div>
        <div class="bl_filter">
            <div>
                <div class="choice">
                    <label sectionindex="0" itemindex="0" class="x7-a x7-a3">
                        <input type="checkbox" name="" class="x7-a2">

                        <div class="x7-a0">
                            <div class="aa1-a o2e">
                                        <span class="em4 me4 m4e em7 tsBodyL e3o eo3">
                                            <span>15 век</span>
                                        </span>
                            </div>
                        </div>
                    </label>
                </div>
                <div class="choice">
                    <label sectionindex="0" itemindex="1" class="x7-a x7-a3">
                        <input type="checkbox" name="" class="x7-a2">

                        <div class="x7-a0">
                            <div class="aa1-a o2e">
                                        <span class="em4 me4 m4e em7 tsBodyL e3o eo3">
                                            <span>16 век</span>
                                        </span>
                            </div>
                        </div>
                    </label>
                </div>
                <div class="choice">
                    <label sectionindex="0" itemindex="2" class="x7-a x7-a3">
                        <input type="checkbox" name="" class="x7-a2">

                        <div class="x7-a0">
                            <div class="aa1-a o2e">
                                        <span class="em4 me4 m4e em7 tsBodyL e3o eo3">
                                            <span>17 век</span>
                                        </span>
                            </div>
                        </div>
                    </label>
                </div>
                <div class="choice">
                    <label sectionindex="0" itemindex="3" class="x7-a x7-a3">
                        <input type="checkbox" name="" class="x7-a2">

                        <div class="x7-a0">
                            <div class="aa1-a o2e">
                                        <span class="em4 me4 m4e em7 tsBodyL e3o eo3">
                                            <span>19 век</span>
                                        </span>
                            </div>
                        </div>
                    </label>
                </div>
                <div class="choice">
                    <label sectionindex="0" itemindex="4" class="x7-a x7-a3">
                        <input type="checkbox" name="" class="x7-a2">

                        <div class="x7-a0">
                            <div class="aa1-a o2e">
                                        <span class="em4 me4 m4e em7 tsBodyL e3o eo3">
                                            <span>20 век</span>
                                        </span>
                            </div>
                        </div>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="bl_title">
            <span class="title">Эпоха</span>
        </div>
        <div class="bl_filter">
            <div>
                <div class="choice">
                    <label sectionindex="0" itemindex="0" class="x7-a x7-a3">
                        <input type="checkbox" name="" class="x7-a2">

                        <div class="x7-a0">
                            <div class="aa1-a o2e">
                                        <span class="em4 me4 m4e em7 tsBodyL e3o eo3">
                                            <span>15 век</span>
                                        </span>
                            </div>
                        </div>
                    </label>
                </div>
                <div class="choice">
                    <label sectionindex="0" itemindex="1" class="x7-a x7-a3">
                        <input type="checkbox" name="" class="x7-a2">

                        <div class="x7-a0">
                            <div class="aa1-a o2e">
                                        <span class="em4 me4 m4e em7 tsBodyL e3o eo3">
                                            <span>16 век</span>
                                        </span>
                            </div>
                        </div>
                    </label>
                </div>
                <div class="choice">
                    <label sectionindex="0" itemindex="2" class="x7-a x7-a3">
                        <input type="checkbox" name="" class="x7-a2">

                        <div class="x7-a0">
                            <div class="aa1-a o2e">
                                        <span class="em4 me4 m4e em7 tsBodyL e3o eo3">
                                            <span>17 век</span>
                                        </span>
                            </div>
                        </div>
                    </label>
                </div>
                <div class="choice">
                    <label sectionindex="0" itemindex="3" class="x7-a x7-a3">
                        <input type="checkbox" name="" class="x7-a2">

                        <div class="x7-a0">
                            <div class="aa1-a o2e">
                                        <span class="em4 me4 m4e em7 tsBodyL e3o eo3">
                                            <span>19 век</span>
                                        </span>
                            </div>
                        </div>
                    </label>
                </div>
                <div class="choice">
                    <label sectionindex="0" itemindex="4" class="x7-a x7-a3">
                        <input type="checkbox" name="" class="x7-a2">

                        <div class="x7-a0">
                            <div class="aa1-a o2e">
                                        <span class="em4 me4 m4e em7 tsBodyL e3o eo3">
                                            <span>20 век</span>
                                        </span>
                            </div>
                        </div>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pravo">здесь будут картины</div>
</body>
</html>