{% extends "template.html" %}

{% block title %}
    Опрос
{% endblock %}

{% block head %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {#    <script type="text/javascript"#}
    {#            src="{{ url_for('static', filename='assets/js/swiper-bundle_esm_browser_min.js') }}"></script>#}
    {#    <script type="text/javascript" src="{{ url_for('static', filename='assets/js/swiper-bundle_min.js') }}"></script>#}
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/anoth_page.css') }}? version = {{ ver }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/slider.css') }}? version = {{ ver }}">

{% endblock %}

{% block body %}
    <form method="post" action="/survey" name="get_survey">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                {% for painting in arts %}
                    {% set art_ind = loop.index %}
                    <div class="swiper-slide">
                        <div class="img_block">
                            <img src="data:image/jpeg;base64, {{ painting['image'] }}" alt="slide" id="{{ painting['_id'] }} ">
                        </div>

                        <div class="rating" data-total-value="0">
                            <label class="rating__item" data-item-value="5">
                                <input value="5" name="{{ 'stars_id ' + painting['_id'] }}" type="radio" hidden/>
                                <span>★</span>
                            </label>
                            <label class="rating__item" data-item-value="4">
                                <input value="4" name="{{ 'stars_id ' + painting['_id'] }}" type="radio" hidden/>
                                <span>★</span>
                            </label>
                            <label class="rating__item" data-item-value="3">
                                <input value="3" name="{{ 'stars_id ' + painting['_id'] }}" type="radio" hidden/>
                                <span>★</span>
                            </label>
                            <label class="rating__item" data-item-value="2">
                                <input value="2" name="{{ 'stars_id ' + painting['_id'] }}" type="radio" hidden/>
                                <span>★</span>
                            </label>
                            <label class="rating__item" data-item-value="1">
                                <input value="1" name="{{ 'stars_id ' + painting['_id'] }}" type="radio" checked hidden/>
                                <span>★</span>
                            </label>
{#                            <input value="0" name="{{ 'stars_id ' + painting['_id'] }}" type="radio" checked hidden/>#}
                        </div>
                    </div>
                {% endfor %}

                <div class="swiper-slide">
                    <input class="btn btn-success" type="submit" value="Отправить"
                       style="font-weight: bold;font-size: 40px;background: var(--bs-gray-200);color: var(--bs-gray-700);width: 100%;border-radius: 17px;"/>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </form>

    <script>
        var swiper = new Swiper(".mySwiper", {
            spaceBetween: 30,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            pagination: {
                el: ".swiper-pagination",
            },
            mousewheel: true,
            keyboard: true,
        });
    </script>

    <script type="text/javascript" src="{{ url_for('static', filename='scripts/survey_stars.js') }}"></script>
{% endblock %}

