body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.clearfix { /*когда есть float*/
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

div {
    box-sizing: border-box; /*не учитываем padding при формировании длины-высоты*/
}

header {
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.8)), url('../img/main_bg2.jpg') no-repeat center top / cover;
    /*background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.5)), url(../img/main_bg2.jpg) no-repeat center top / cover;*/
    height: 100vh;
}

.container {
    width: 930px;
    margin: 0 auto;
}

.logo {
    margin-top: 25px;
    float: left;
    height: 50px;
}

nav {
    float: right;
    margin-top: 45px;
}

.menu {
    padding: 0;
    margin: 0;
    display: block;
}

.menu li {
    float: left;
    display: block;
    margin-right: 41px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

#loginBtn{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    outline: none;
    border: 0;
    background: transparent;
}

h1 {
    font-size: 120px;
    color: #EBC89A;
    text-transform: uppercase;
    text-align: left;
    margin-top: 180px;
    margin-bottom: 0;
}

.titles p {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    margin: 20px;
    margin-left: 0;
}

.button {
    background: #008080;    /*#5F9EA0;*/
    color: #C0C0C0;
    border-radius: 3px;
    display: block;
    width: 240px;
    padding: 20px 0;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin-top: 90px;
}

.title {
    padding-top: 115px;
}

.title h2 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.title p {
    color: #777777;
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
}

.parts {
    margin-top: 40px;
}

.parts_item {
    width: 270px;
    float: left;
    text-align: center;
}

.parts_item h3 {
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: 5px;
}

.parts_item p {
    font-size: 14px;
    color: #777777;
    line-height: 1.55em;
}

.parts_item:last-child {
    float: right;
}

.parts_item:nth-child(2) {
    margin-left: 49px;
}

.parts_item img{
     width: 270px;
}

#second-section {
    padding-bottom: 120px;
}

#third-section {
    background: #edeffa;
    padding-bottom: 80px;
}

.photos {
    margin-top: 70px;
}

.photos img {
    float: left;
    width: 270px;
}

.photos img:last-child {
    float: right;
}

.photos img:nth-child(2) {
    margin-left: 60px;
}

.footer-info{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 90px;
}

.footer-info col{
    float: left;
    width: 270px;
}

#col-1{
    margin-left: 30px;
}

.col h3{
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
}



