html,
body {
    height: 100%;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.swiper {
    width: 1150px;
    height: 90%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 40%;
    object-fit: cover;
}

.img_info_column-1 {
    width: 60%;
}

.img_info_column-2 {
    width: 40%;
    font-size: 18px;
    text-align: left;
    padding-right: 50px;
    height: 600px;
    /*margin: 4px 4px;*/
    overflow-x: hidden;
    overflow-y: auto;
}

.img_block img {
    width: 75%;
    object-fit: cover;
    margin-bottom: 10px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
    color: #99514F;
}

h4 {
    font-size: 18px;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 100px !important;
    left: auto;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 100px !important;
    right: auto;
}