{% extends "template.html" %}

{% block title %}
    Галерея
{% endblock %}

{% block head %}
    {#    добавить что-то в head + css    #}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}? version = {{ ver }}">
{% endblock %}

{% block headerbutton %}
    <div class="titles">
        <h1>
            ГАРЕЛЕЯ
        </h1>
        <p>Часы работы</p>
        <p>пн-пт: 10.00-19.00</p>
        <p>сб-вс: выходной день </p>
    </div>
    <a class="button" href="#">Узнать больше</a>
{% endblock %}

{% block body %}

    <section id="second-section">
        <div class="container">
            <div class="title">
                <h2>Выставки</h2>
                <p>Уважаемые посетители галереи Гарелея!
                    Приглашаем Вас посетить наши новые выставочные экспозиции.</p>
            </div>

            <div class="parts clearfix">
                <div class="parts_item">
                    <img src="/static/img/exh1.jpg" alt="Картинка1">
                    <h3>Величайшие мастера живописи Италии всех времен</h3>
                    <p>10 самых известных итальянских художников
                        — это уникальное созвучие имен гениальных
                        мастеров живописи, подаривших миру множество
                        шедевров. Каждый из представленных итальянских
                        художников заслужил признание и славу не только
                        своих современников, но и многих поколений потомков.</p>
                </div>
                <div class="parts_item">
                    <img src="/static/img/exh2.jpg" alt="Картинка2">
                    <h3>Золотой век фламандского искусства</h3>
                    <p>Уникальный выставочный проект познакомит зрителей с шедеврами одной
                        из самых значительных в мире коллекций фламандского искусства XVII – XVIII веков.
                        Вас ждут произведения всемирно известных художников – Питера Пауля Рубенса,
                        Антониса Ван Дейка, Якоба Йорданса, Давида Тенирса Младшего.
                        Подавляющее большинство картин на выставке происходят из личной коллекции
                        императрицы Екатерины Великой.</p>
                </div>
                <div class="parts_item">
                    <img src="/static/img/exh3.jpg" alt="Картинка3">
                    <h3>Сюрреализм в современности</h3>
                    <p>С каждым годом становится всё больше ярких художников,
                        представляющих миру свои униальные стиль и видение.
                        В этой экспозиции собраны работы одних из самых необычных художников нашего времени.</p>
                </div>
            </div>
        </div>

    </section>

    <section id="third-section">
        <div class="container">
            <div class="title">
                <h2>Новости</h2>
                <p>Всё самое интересное о событиях в нашей галерее</p>
            </div>


            <div class="parts clearfix">
                <div class="parts_item">
                    <img src="/static/img/news1.jpg" alt="Картинка1">
                    <h3>Мадонна Литта в Гарелее</h3>
                    <p>В нашу Гарелею была привезена работа великого итальянского художника -
                        Леонардо да Винчи - Мадонна Литта.</p>
                </div>
                <div class="parts_item">
                    <img src="/static/img/news2.jpg" alt="Картинка2">
                    <h3>Современное искусство в Гарелее</h3>
                    <p>Современные художники не перестают радовать нас, зрителей, своим творчеством и разжигать интерес
                        критиков. Могут ли современные создатели сравниться с великими классиками в мире искусства?</p>
                </div>
                <div class="parts_item">
                    <img src="/static/img/news3.jpg" alt="Картинка3">
                    <h3>Мастер-класс в Гарелее</h3>
                    <p>Недавно в нашей галерее прошёл мастер-класс по письму масляными красками.
                        Участники попробовали себя в качестве живописцев и узнали о нюансах рисования на холсте.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

