{% extends "template.html" %}

{% block title %}
    Галерея
{% endblock %}

{% block head %}
{#    добавить что-то в head + css    #}
{% endblock %}

{% block body %}

<section id="second-section">
    <div class="container">
        <div class="title">
            <h2>Выставки</h2>
            <p>Какая-то подпись</p>
        </div>

        <div class="parts clearfix">
            <div class="parts_item">
                <img src="/static/img/2.png" alt="Картинка1">
                <h3>Какое-то название</h3>
                <p>Пояснение к названию пояснение к названию
                    пояснение к названию пояснение к названию
                    пояснение к названию пояснение к названию</p>
            </div>
            <div class="parts_item">
                <img src="/static/img/2.png" alt="Картинка2">
                <h3>Какое-то название</h3>
                <p>Пояснение к названию пояснение к названию
                    пояснение к названию пояснение к названию
                    пояснение к названию пояснение к названию</p>
            </div>
            <div class="parts_item">
                <img src="/static/img/2.png" alt="Картинка3">
                <h3>Какое-то название</h3>
                <p>Пояснение к названию пояснение к названию
                    пояснение к названию пояснение к названию
                    пояснение к названию пояснение к названию</p>
            </div>
        </div>
    </div>

</section>

<section id="third-section">
    <div class="container">
        <div class="title">
            <h2>Ещё что-то</h2>
            <p>Какая-то подпись</p>
        </div>

        <div class="photos clearfix">
            <img src="/static/img/5.jpg" alt="Фотография">
            <img src="/static/img/5.jpg" alt="Фотография">
            <img src="/static/img/5.jpg" alt="Фотография">
        </div>
    </div>
</section>

<section>
    <div class="container">

    </div>
</section>

{% endblock %}

